#main {
    border-style: dashed;
    border-color: palevioletred;
    border-width: 4px;
}

#footer {
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main2 {
    border-style: dashed;
    border-color: palegoldenrod;
    border-width: 4px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pink {
    color: pink;
}


@media (min-width:600px) {
    #container {
        display: flex;
    }
    #main {
        width: 50%;
    }
    
    #sidebar {
        width: 50%;
    }
    #footer {
        width: 100%;
    }
    #main2 {
        width:50%;
    }
    #sidebar2 {
        width:25%;
    }
    #sidebar3 {
        width:25%;
    }
}


